<div style="display: grid; grid-template-columns: 9fr 2fr">


  <div id="drawflow" style="height: 100vh" (dragover)="onDragOver($event)" (drop)="onDrop($event)"></div>

  <div style="border-left: var(--border-table);  height: 100dvh; overflow: auto; background: var(--color-background-component)">
    <div
      *ngIf="!nodeSelected"
      style="padding: 1rem; border-bottom: var(--border-table)"
    >
      <h5>Transformers</h5>
      <m-list mSeparated>
        <m-list-item
          *ngFor="let rd of ruleDescriptions"
          class="m-clickable"
          draggable="true"
          (dragstart)="onDragStart($event, rd)"
        >
          <div>{{rd.name}}</div>
          <div class="description">{{rd.description}}</div>
        </m-list-item>
      </m-list>
    </div>


    <div
      *ngIf="nodeSelected as node"
      style="padding: 1rem; border-bottom: var(--border-table);"
    >
      <h5>{{node.data.obj ? 'Resource' : 'Rule'}}</h5>

      <!--      <app-structure-definition-tree-->
      <!--        *ngIf="node.data.obj"-->
      <!--        [fhir]="node.data.obj?._fhir | json | apply: encodeURIComponent"-->
      <!--        (selected)="onStructureItemSelect($event)"-->
      <!--      ></app-structure-definition-tree>-->
      <div *ngIf="node.data.obj as obj">
        <m-table mSize="small">
          <tr *ngFor="let f of obj.fields">
            <td><a (mClick)="onStructureItemSelect(obj, f)">{{f}}</a></td>
          </tr>
        </m-table>
      </div>

      <div *ngIf="node.data.rule as rule">
        <pre>{{rule | json}}</pre>
      </div>
    </div>
  </div>

</div>
