<div style="display: grid; grid-template-columns: 9fr 2fr">


  <div id="drawflow" style="height: 100vh"></div>

  <div style="border-left: 1px solid var(--color-borders); padding: 1rem;  height: 100dvh; overflow: auto; background: var(--color-background-component)">
    <ng-container *ngIf="nodeSelected as node">

      <app-structure-definition-tree
        *ngIf="node.data.obj"
        [fhir]="node.data.obj?._fhir | json | apply: encodeURIComponent"
      ></app-structure-definition-tree>


      <div *ngIf="node.data.rule as rule">
        <pre>{{rule | json}}</pre>
      </div>
    </ng-container>
  </div>

</div>
