<div style="height: 2.5rem; display: flex; align-items: center; background: linear-gradient(45deg, var(--color-primary-1), var(--color-background-component)); border-bottom: 1px solid var(--color-primary-2)">
  <div style="width: 100%; padding-inline: 1rem; white-space: nowrap;" class="m-justify-between">
    <div class="m-items-middle menu">
      <m-button mDisplay="text" (mClick)="wizard.open()" mSize="small">New</m-button>
      <m-button mDisplay="text" (mClick)="importer.open()" mSize="small">Import</m-button>
      <m-button mDisplay="text" (mClick)="exportStructureMap()" mSize="small">Export</m-button>
      <m-button mDisplay="text" *ngIf="isDev" (mClick)="viewAsFML(fmlPreview)" mSize="small">FML</m-button>

      <m-divider mVertical/>
      <m-button mDisplay="primary" (mClick)="save()" mSize="small">Save</m-button>
      <m-dropdown [mHideIfEmpty]="false">
        <div *m-dropdown-container>{{service.selectedMapName ?? 'xxx'}}.json
          <m-icon *ngIf="service.isSaved(service.selectedMapName)" mCode="hdd"/>
        </div>
        <ng-container *ngFor="let m of maps">
          <a *m-dropdown-item (mClick)="service.selectMap(m)">{{m}}
            <m-icon *ngIf="service.isSaved(m)" mCode="hdd"/>
          </a>
        </ng-container>
      </m-dropdown>

      <ng-container *ngIf="inIframe">
        <m-divider mVertical/>
        <div class="description">Embedded</div>
      </ng-container>

      <ng-container *ngIf="loader">
        <m-divider mVertical/>
        <progress [value]="loader.current / loader.total * 100" max="100"></progress>
      </ng-container>
    </div>

    <div style="justify-self: end" class="m-items-middle">
      Animation
      <nz-switch [(ngModel)]="isAnimated" (ngModelChange)="setAnimation($event)" nzSize="small"></nz-switch>

      <m-divider mVertical/>
      <m-icon-button mIcon="zoom-out" (mClick)="zoomOut()"/>
      <m-icon-button mIcon="zoom-in" (mClick)="zoomIn()"/>

      <m-divider mVertical/>
      <m-button (mClick)="autoLayout()" mSize="small">Auto-layout</m-button>
      <m-button (mClick)="topology()" mSize="small">Topology</m-button>

      <ng-container *ngIf="inIframe">
        <m-divider mVertical/>
        <m-button (mClick)="exit()" mSize="small">Exit</m-button>
      </ng-container>
    </div>
  </div>
</div>

<app-editor
  style="height: calc(100dvh - 2.5rem)"
  [iframe]="inIframe"
  [resourceBundle]="resourceBundle"
  [structureMap]="structureMap"
  [mapName]="structureMap?.name"
></app-editor>


<!-- FML preview modal -->
<m-modal #fmlPreview mPlacement="top" mStyle="width:100%; max-width: 90rem" (mClose)="fml = undefined">
  <div *m-modal-content>
    <ng-container *ngIf="{t: 'fml'} as d">
      <m-radio-group [(ngModel)]="d.t" style="margin-bottom: 1rem; display: inline-block">
        <label m-radio mValue="fml">FML</label>
        <label m-radio mValue="json">JSON</label>
      </m-radio-group>

      <ng-container [ngSwitch]="d.t">
        <pre *ngSwitchCase="'fml'" style="font-size: 13px; line-height: 1.25;">{{fml.text}}</pre>
        <pre *ngSwitchCase="'json'" style="font-size: 13px; line-height: 1.25;">{{fml.json | json}}</pre>
      </ng-container>
    </ng-container>
  </div>
</m-modal>


<!-- FML preview modal -->
<m-modal #importer mPlacement="top" (mClose)="importer.close()">
  <div *m-modal-header>
    Import StructureMap
  </div>
  <div *m-modal-content>
    <m-textarea [autosize]="{minRows: 10}" placeholder="JSON file content" (mChange)="importStructureMap(importer, $event)"></m-textarea>
  </div>
</m-modal>

<!-- Setup wizard -->
<app-structure-map-setup #wizard [bundle]="resourceBundle" (created)="initFromWizard($event.name, $event.fml)"/>


<app-update-version/>
