<app-structure-map-setup #fmlSetup [bundle]="bundle" (created)="createGroup($event.fmlGroup)" (updated)="updateGroup($event.current, $event.updated)"/>

<div style="display: grid; grid-template-columns: auto 1fr">
  <!-- LEFT PANEL -->
  <m-collapse-panel
    class="fml-left-panel"
    mKey="fml-left-panel"
    mResizable
    [mResizableMaxWidth]="400"
    style="height: calc(100vh - 2.5rem); background: var(--color-background-component); border-right: var(--border-table); z-index: 10"
  >
    <app-fml-view [fmlGroup]="fmlGroup"/>
  </m-collapse-panel>


  <!-- MAIN PANEL -->
  <div style="display: flex; flex-direction: column; max-height: calc(100dvh - 2.5rem)">
    <div class="editor-tabbar">
      <div *ngIf="!fml.groups?.length" class="editor-tab m-items-middle">
        <m-icon mCode="loading"/>
        <span>loading...</span>
      </div>

      <ng-container *ngIf="fml.groups?.length">
        <ng-container *ngFor="let fmlGroup of fml.groups">
          <ng-container *ngIf="{external: fmlGroup.external, name: fmlGroup.name} as d">
            <div
              *ngIf="!d.external"
              class="editor-tab"
              [class.editor-tab--selected]="d.name === fmlSelectedGroupName"
              (click)="selectGroup(d.name)"
            >
              <ng-container *ngIf="{edit: false, name: fmlGroup.name} as data">
                <m-input
                  *ngIf="data.edit"
                  class="mini-input"
                  [(ngModel)]="data.name"

                  autofocus
                  (focusout)="data.edit = false"
                  (keyup.escape)="data.edit = false"
                  (keyup.enter)="onGroupNameChange(fmlGroup.name, data.name); data.edit = false"

                  (click)="$event.stopPropagation()"
                ></m-input>

                <div *ngIf="!data.edit" class="editor-tab__group-item">
                  <!-- Icon -->
                  <m-icon [mCode]="d.name === fml.mainGroupName ? d.name === fmlSelectedGroupName ? 'folder-open' : 'folder' : 'block'"/>
                  <!-- Edit -->
                  <m-icon class="editor-tab__edit-icon" mCode="edit" (click)="$event.stopPropagation(); data.edit = true; data.name = fmlGroup.name"/>
                  <!-- Name -->
                  <span class="editor-tab__group-name">{{d.name}}</span>
                  <!-- Delete -->
                  <m-icon class="editor-tab__delete-icon" *ngIf="d.name !== fml.mainGroupName" mCode="close" (click)="deleteGroup(d.name)"/>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>


        <div class="editor-tab " style="min-width: 2.5rem" (click)="fmlSetup.open()">
          <div class="editor-tab__group-item">
            <m-icon mCode="file-add"/>
          </div>
        </div>
      </ng-container>
    </div>

    <div style="flex: auto; display: grid; grid-template-columns: 8fr 2fr; max-height: calc(100% - 32px - 1px)">
      <div
        id="drawflow-parent"
        [class.drawflow--animated]="isAnimated"
        [class.drawflow--main-group]="fml.mainGroupName === fmlSelectedGroupName"
        (dragover)="onDragOver($event)"
        (drop)="onDrop($event)"
      ></div>
      <!-- RIGHT PANEL -->
      <div style="border-left: 1px solid var(--color-borders); height: 100%; overflow: auto; background: var(--color-background-component)">
        <ng-container *ngIf="!nodeSelected">
          <div class="block">
            <h5 style="position: relative">
              Settings
              <m-icon-button
                *ngIf="fml.mainGroupName !== fmlSelectedGroupName"
                style="position: absolute; right: 0; top: -6px"
                mIcon="setting"
                m-tooltip
                mTitle="Configure Group"
                mPosition="left"
                (mClick)="configureActiveGroup()"
              />
            </h5>
            <div>
              <m-checkbox [(ngModel)]="fmlGroup.shareContext">
                <div>Share context</div>
                <div class="description">Creates single rule. Result of rule transformation could be used by other rules</div>
              </m-checkbox>
            </div>
          </div>

          <ng-container *ngIf="ruleGroups | apply: availableRuleGroups: fml.mainGroupName: fmlSelectedGroupName as groups">
            <div class="block" *ngIf="groups.length">
              <h5>Groups</h5>
              <m-list mSeparated>
                <m-list-item *ngFor="let rg of groups" style="cursor: grab;" draggable="true" (dragstart)="onDragStart($event, 'group', rg)">
                  <div class="m-justify-between">
                    <div class="m-items-middle">
                      <m-icon mCode="block"/>
                      <m-divider mVertical></m-divider>
                      <div>
                        <div>{{rg.groupName}} <span *ngIf="rg.external" class="description">{{rg.mapName}}</span></div>
                        <div class="description" *ngIf="rg.sources?.length || rg.targets?.length">
                          <span *ngIf="rg.sources?.length">{{rg.sources | join: ', '}}, </span>
                          <span *ngIf="rg.targets?.length">{{rg.targets | join: ', '}}</span>
                        </div>
                      </div>
                    </div>

                    <m-icon *ngIf="rg.external" mCode="link"/>
                  </div>
                </m-list-item>
              </m-list>
            </div>
          </ng-container>

          <div class="block">
            <h5>Transformers</h5>
            <m-list mSeparated>
              <m-list-item *ngFor="let rd of ruleDescriptions" style="cursor: grab;" draggable="true" (dragstart)="onDragStart($event, 'rule', rd)">
                <div class="m-items-middle">
                  <m-icon mCode="experiment"/>
                  <m-divider mVertical></m-divider>
                  <div>
                    <div>{{rd.name}}</div>
                    <div class="description">{{rd.description}}</div>
                  </div>
                </div>
              </m-list-item>
            </m-list>
          </div>

          <div class="block">
            <h5>ConceptMap <span class="description">(translate)</span></h5>
            <m-list mSeparated>
              <m-list-item *ngFor="let cm of fml.conceptMaps; let idx = index"
                style="cursor: grab;"
                draggable="true"
                (dragstart)="onDragStart($event, 'conceptMap', cm)"
              >
                <div class="m-items-middle">
                  <m-icon mCode="file-done"/>
                  <m-divider mVertical></m-divider>

                  <div style="flex: 1">
                    <div class="m-justify-between">
                      <span style="word-break: break-word">{{cm.name}}</span>
                      <m-tag *ngIf="cm.mode === 'internal'">local</m-tag>
                    </div>
                    <div class="description" style="display: flex">
                      <a (mClick)="conceptMapEdit(cm)">edit</a>
                      <m-divider mVertical/>
                      <a (mClick)="conceptMapRemove(idx)">delete</a></div>
                  </div>
                </div>
              </m-list-item>

              <m-list-item mClickable (mClick)="conceptMapEdit()">
                <div class="m-justify-center m-items-middle m-subtitle">
                  new map
                </div>
              </m-list-item>
            </m-list>
          </div>
        </ng-container>


        <ng-container *ngIf="nodeSelected as node">
          <!-- Resource -->
          <div *ngIf="node.data.obj as obj">
            <app-object-view
              [fmlGroup]="fmlGroup"
              [object]="fmlGroup.objects[obj.name]"
              (objectChange)="applyObject($event)"
              (fieldSelect)="onStructureItemSelect($event.object, $event.field, $event.type)"
            />
          </div>

          <!-- Rule -->
          <div *ngIf="node.data.rule as rule">
            <app-rule-view [rule]="rule" [fmlGroup]="fmlGroup" (ruleChange)="applyRule($event)"/>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<m-modal #conceptMapModal (mClose)="conceptMapModal.close()">
  <form #f="ngForm">
    <div *m-modal-header>
      ConceptMap
    </div>

    <div *m-modal-content>
      <ng-container *ngIf="conceptMap">
        <m-form-item mName="mode" mLabel="Mode" required>
          <m-radio-group name="mode" [(ngModel)]="conceptMap.mode" (ngModelChange)="conceptMapReset()" required>
            <label m-radio-button [mValue]="'internal'">Internal</label>
            <label m-radio-button [mValue]="'external'">External</label>
          </m-radio-group>
        </m-form-item>

        <m-form-item mName="cm-name" mLabel="URI" required>
          <m-input name="cm-name" [(ngModel)]="conceptMap.name" required/>
        </m-form-item>

        <ng-container *ngIf="conceptMap.mode === 'internal'">
          <m-form-row>
            <m-form-item *m-form-col mName="cm-source" mLabel="Source" required>
              <m-input name="cm-source" [(ngModel)]="conceptMap.source" required/>
            </m-form-item>

            <m-form-item *m-form-col mName="cm-target" mLabel="Target" required>
              <m-input name="cm-target" [(ngModel)]="conceptMap.target" required/>
            </m-form-item>
          </m-form-row>


          <m-form-item mLabel="Mappings">
            <m-editable-table [mData]="conceptMap.mappings">
              <m-editable-column mName="source" mTitle="Source field" mWidth="45%">
                <ng-template #editTemplate let-m let-ngModelName="ngModelName">
                  <m-input [name]="ngModelName" [(ngModel)]="m.source"/>
                </ng-template>
                <ng-template #viewTemplate let-m>
                  {{m.source}}
                </ng-template>
              </m-editable-column>

              <m-editable-column mName="target" mTitle="Target field" mWidth="45%">
                <ng-template #editTemplate let-m let-ngModelName="ngModelName">
                  <m-input [name]="ngModelName" [(ngModel)]="m.target"/>
                </ng-template>
                <ng-template #viewTemplate let-m>
                  {{m.target}}
                </ng-template>
              </m-editable-column>
            </m-editable-table>
          </m-form-item>
        </ng-container>
      </ng-container>
    </div>

    <div *m-modal-footer class="m-justify-right">
      <m-button mDisplay="text" (mClick)="conceptMapCancel()">Cancel</m-button>
      <m-button mDisplay="primary" (mClick)="conceptMapApply()" [disabled]="f.invalid">Apply</m-button>
    </div>
  </form>
</m-modal>
